# Django
Django

# Settings
django-environ

# Sentry monitoring
raven>=5.2.0

# PostgreSQL
psycopg2

# Django REST Framework
djangorestframework
djangorestframework-gis
django-filter

# REST API documentation
-e git+git://github.com/manosim/django-rest-framework-docs.git@6673ef2b48ba9f04a9fda226de916bea639db857#egg=drfdocs

# Misc
pytz
